<!DOCTYPE html>
<html lang="en" ng-app="expendituresApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nebraska Expenditures</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/override.css" rel="stylesheet">
  <link href="bower_components/ng-grid/ng-grid.min.css" rel="stylesheet">
  <link href="bower_components/jquery-ui/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nebraska Expenditures</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a>
              </li>
              <li><a href="#" data-toggle="modal" data-target="#aboutModal">About</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Helpful Links <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="http://nebraskalegislature.gov/senators/senator_find.php">Find Your Senator</a>
                  </li>
                  <li><a href="https://nebraska.gov">Nebraska.gov</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Nebraska Tresurer's Website</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <div class="jumbotron">
        <h3>Money</h3>
        <p>It's what makes the world go 'round. Nebraska spends a lot of money. Let's make some sense of it.</p>
        <p>Search the data by Agency or Account.</p>
        <div ng-controller="searchController">
        	<input class="form-control" placeholder="search...." ng-model="search" id="searchfield" />
        </div>
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Results</a>
        </li>
        <li><a href="#year" role="tab" data-toggle="tab">Results By Year</a>
        </li>
        <li><a href="#agency" role="tab" data-toggle="tab">Results By Agency</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div id="sortable-table" ng-controller="ExpendituresMainCtrl">
            <table class="top-margin table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Payee
                  </th>
                  <th>
                    Agency
                  </th>
                  <th>
	                  Account
                  </th>
                  <th>
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr dir-paginate="item in items | itemsPerPage: 10: 'main'" pagination-id="main">
                  <td>
                    <a href="/api/by/date/{{item.date}}" data-api="{{item.payment_date}}">{{item.payment_date}}</a>
                  </td>
                  <td class="payee">
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.payee}}">{{item.payee}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.agency_name}}">{{item.agency_name}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.account}}" data-api="{{item.account}}">{{item.account}}</a>
                  </td>
                  <td class="amount">
                    <a href="/api/by/payee/{{item.amount}}" data-api="{{item.amount}}">{{item.amount}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls pagination-id="main" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            <canvas id="myChart" class="chart" width="400" height="400"></canvas><div class="legend"></div>
          </div>
        </div>
        <div class="tab-pane fade" id="year">
			<div id="sortable-table" ng-controller="ExpendituresYearCtrl">
            <table class="top-margin table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Payee
                  </th>
                  <th>
                    Agency
                  </th>
                  <th>
	                  Account
                  </th>
                  <th>
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr dir-paginate="item in items | itemsPerPage: 10: 'year'" pagination-id="year">
                  <td>
                    <a href="/api/by/date/{{item.date}}" data-api="{{item.payment_date}}">{{item.payment_date}}</a>
                  </td>
                  <td class="payee">
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.payee}}">{{item.payee}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.agency_name}}">{{item.agency_name}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.account}}" data-api="{{item.account}}">{{item.account}}</a>
                  </td>
                  <td class="amount">
                    <a href="/api/by/payee/{{item.amount}}" data-api="{{item.amount}}">{{item.amount}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls pagination-id="year" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            <canvas id="myChart" class="chart" width="400" height="400"></canvas><div class="legend"></div>
          </div>
	    </div>
        <div class="tab-pane fade" id="agency">
	        <div id="sortable-table" ng-controller="ExpendituresAgencyCtrl">
            <table class="top-margin table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Payee
                  </th>
                  <th>
                    Agency
                  </th>
                  <th>
	                  Account
                  </th>
                  <th>
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr dir-paginate="item in items | itemsPerPage: 10: 'agency'" pagination-id="agency">
                  <td>
                    <a href="/api/by/date/{{item.date}}" data-api="{{item.payment_date}}">{{item.payment_date}}</a>
                  </td>
                  <td class="payee">
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.payee}}">{{item.payee}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.payee}}" data-api="{{item.agency_name}}">{{item.agency_name}}</a>
                  </td>
                  <td>
                    <a href="/api/by/payee/{{item.account}}" data-api="{{item.account}}">{{item.account}}</a>
                  </td>
                  <td class="amount">
                    <a href="/api/by/payee/{{item.amount}}" data-api="{{item.amount}}">{{item.amount}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls pagination-id="agency" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            <canvas id="myChart" class="chart" width="400" height="400"></canvas><div class="legend"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- main table -->
    <div class="col-md-1">
    </div>
  </div>

  <!-- about modal -->
  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="aboutModalTitle">About Nebraska Expenditures</h4>
        </div>
        <div class="modal-body">
          <p>Nebraska Expenditures is a in-depth look into the money spent by the State of Nebraska. This web application has been designed to help the average citizen of the State of Nebraska figure out where their tax dollars are going, why they're going
            there, and gives them avenues to talk to their State Legislator if they have any questions.</p>
          <p>Hello!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="bower_components/chartjs/chart.min.js"></script>
  <script src="bower_components/angularjs/angular.min.js"></script>
  <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
  <script src="js/query.js"></script>
  <script src="js/controllers.js"></script>
</body>

</html>